<!DOCTYPE html>
<html>
<head>
    <title>instaCal - Add Filter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href = "css/styles.css" rel = "stylesheet">
    <script src = "js/bootstrap-datetimepicker.min.js"></script>
    <script src = "js/bootstrap.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
    href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">

</head>
<body>
   
    <div class = "navbar navbar-default navbar-static-top">
        <div class = "container">
         
            <a href = "index" class = "navbar-brand">instaCal</a>
            
            <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
            </button>
            
            <div class = "collapse navbar-collapse navHeaderCollapse">
             
                <ul class = "nav navbar-nav navbar-right">
                 
                    <li><a href = "index">Feed</a></li>
                    <li><a href = "friends">Friends</a></li>
                    <li><a href = "profile">Profile</a></li>
                    <li><a href = "calendar">My Calendar</a></li>
                    <li><a href = "notifi">Notifications</a></li>
                    <li><a href = "settings">Settings</a></li>
                    <li><a href = "welcome">Sign out</a></li>

                    
                    
                </ul>
                
            </div>
            
        </div>
    </div>

    <div class = "container" style="margin-bottom:75px">
        <form method = "post" action = "eventsuccess">
            <label for="examplefilter">Title</label>
            <input name= "title" type="text" class="form-control" id="title" placeholder="Title" required autofocus>
            <label for="exampleFilters">Privacy</label>
            <select input type="text" class="form-control" placeholder="">
                <option>JSON1</option>
                <option>JSON2</option>
                <option>Following</option>
                <option>Select Friends</option>
            </select>
            <p></p>

            <div class="well">
                <div id="starttimepicker" class="input-append" placeholder="start time">
                   <input data-format="yyyy-MM-dd HH:mm:ss PP" type="text" name="starttime"></input>
                   <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                  </span>
              </div>
          </div>
          <script type="text/javascript">
          $(function() {
           $('#starttimepicker').datetimepicker({
               language: 'en',
               pick12HourFormat: true
           });
       });
          </script>

          <div class="well2">
           <div id="endtimepicker" class="input-append" placeholder="end time">
               <input data-format="yyyy-MM-dd HH:mm:ss PP" type="text" name ="endtime"></input>
               <span class="add-on">
                   <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                   </i>
               </span>
           </div>
       </div>
       <script type="text/javascript">
       $(function() {
          $('#endtimepicker').datetimepicker({
              language: 'en',
              pick12HourFormat: true
          });
      });
       </script>

       
       <p></p>
   </div>
   
   <div class = "container" style="margin-bottom:15px">
    <label for="Notes">Notes</label>
    <textarea class="form-control" rows="3" id="notes"></textarea></div>
</div>

<div class="row">
    <div class="col-xs-6">
        <p><input type="submit" class="btn btn-primary btn-lg" role="button">Create Event</input></p>
    </div>


    <div class="col-xs- 5">
        <p><a class="btn btn-lg btn-danger" href="calendar" role="button">Cancel</a></p>
    </div>
</form>






<div class = "navbar navbar-inverse navbar-fixed-bottom">
 
    <div class = "container">
        <p class = "navbar-text pull-left">&copy;2014 instaCal</p>

        <p class = "navbar-text pull-right"><a href = "contactus">| Contact </a></p>
        <p class = "navbar-text pull-right"><a href = "about"> About |</a></p>


        
    </div>
    
</div>

</body>
</html>