
<!DOCTYPE html>
<html>
<head>
    <title>instaCal </title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href = "css/bootstrap.min.css" rel = "stylesheet">
                <link href = "css/styles.css" rel = "stylesheet">
<link href='css/fullcalendar.css' rel='stylesheet' />
<link href='css/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='js/jquery.min.js'></script>
<script src='js/jquery-ui.custom.min.js'></script>
<script src='js/fullcalendar.min.js'></script>
<script>

    $(document).ready(function() {
        
        $('#calendar').fullCalendar({
            editable: true,
            events: "events_source"
        });
        
    });

</script>
<style>

    body {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

    #calendar {
        width: 360px;
        margin: 0 auto;
        }

</style>
</head>
<body>
<div id='calendar'></div>
<p></p>
<div class="row">
<p><a class="btn btn-danger" href="profile" role="button">Back</a></p>
<p><a class="btn btn-danger" href="addevent" role="button">Add Event</a></p>
</div>
    
</body>

<footer>

    <div class = "navbar navbar-inverse navbar-static-bottom" role="navigation" style="margin-top:55px">
               
                <div class = "container">
                    <p class = "navbar-text pull-left">&copy;2014 instaCal</p>
                    <p class = "navbar-text pull-right"><a href = "contactus"> Contact </a></p>
                </div>
               
      </div>


    </footer>
</html>
