
<!DOCTYPE html>
<html>
<head>
    <title>instaCal </title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href = "css/bootstrap.min.css" rel = "stylesheet">
                <link href = "css/styles.css" rel = "stylesheet">
<link href='css/fullcalendar.css' rel='stylesheet' />
<link href='css/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='js/jquery.min.js'></script>
<script src='js/jquery-ui.custom.min.js'></script>
<script src='js/fullcalendar.min.js'></script>
<script>

    $(document).ready(function() {
        
        $('#calendar').fullCalendar({
            editable: true,
            events: "events_source1",

            eventClick: function(calEvent, jsEvent, view) {
                alert('Event: '+calEvent.title+'\n\n'+'Start Time: '+calEvent.start+'\n\n'+'End Time: '+calEvent.end+'\n\n'+'Notes: ' +calEvent.notes);
            }
        });
        
    });

</script>
<style>

    body {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

    #calendar {
        width: 350px;
        margin: 0 auto;
        }

</style>
</head>
<body>

    <div class= "row" style = "margin-left:100px; margin-bottom: 20px">
        <div class= "grid_8">
            <div>
                <div style = "float: left; display: inline-block; background-color: #1E90FF; padding: 8px; margin-right: 10px">
                    <input type="checkbox" checked="checked" onclick="reloadCal()" name="f1" id="f1">
                        <label for="f1">Filter #1</label>
                </div>

                <div style = "float: left; display: inline-block; background-color: #00BFFF; padding: 8px; margin-right: 10px">
                    <input type="checkbox" checked="checked" onclick="reloadCal()" name="f2" id="f2">
                        <label for="f2">Filter #2</label>
                </div>

                <div style = "float: left; display: inline-block; background-color: #20B2AA; padding: 8px; margin-right: 10px">
                    <input type="checkbox" checked="checked" onclick="reloadCal()" name="f3" id="f3">
                        <label for="f3">Filter #3</label>
                </div>
            </div>
        </div>
    </div>

<div id='calendar'></div>
<p></p>
<div class="row">
<p><a class="btn btn-danger" href="melissaprofile" role="button">Back</a></p>

</div>
    <div class = "navbar navbar-inverse navbar-fixed-bottom">
               
                <div class = "container">
                    <p class = "navbar-text pull-left">&copy;2014 instaCal</p>

                    <p class = "navbar-text pull-right"><a href = "contactus"> | Contact </a></p>
                    <p class = "navbar-text pull-right"><a href = "about"> About | </a></p>



                    
                </div>
               
            </div>
</body>
</html>
