
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Friends list</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">
  </head>

<body>

 <div class = "navbar navbar-default navbar-static-top">
        <div class = "container">

            <a href = "index" class = "navbar-brand">instaCal</a>

            <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
            </button>

            <div class = "collapse navbar-collapse navHeaderCollapse">

                <ul class = "nav navbar-nav navbar-right">

                    <li class = "active"><a href = "index">Feed</a></li>
                    <li><a href = "friends">Friends</a></li>
                    <li><a href = "profile">Profile</a></li>
                    <li><a href = "calendar">My Calendar</a></li>
                    <li><a href = "notifi">Notifications</a></li>
                    <li><a href = "settings">Settings</a></li>
                    <li><a href = "welcome">Sign out</a></li>



                </ul>

            </div>

        </div>
    </div>


 <div class="container">

 
  <div class="input">
  <input id="filter" type="text" class="form-control" placeholder="Filter Friends">
</div><br>
  <!-- Classes Info Class -->
    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example fixed-box">
    <!-- Content for classes -->

 
    <table class="table table-hover classmates">
      <thead>
        <tr>
          <th>Profile</th>
          <th>Name</th>
          <th>Filters</th>
        </tr>
      </thead>
      <tbody>
        
        {{#each friends}}
        <tr>
          <td><img src="{{imageURL}}" height="75px" width="75px" class="img-thumbnail"></td>
          <td><a href="{{profileURL}}"></a>{{name}}</td>
          <td>{{Filters}}</td>
        </tr>
         {{/each}}
        
      </tbody>
    </table>
     

  </div>
    <!-- End content for classes -->

      
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/initializeClass.js"></script>


<div class = "navbar navbar-inverse navbar-fixed-bottom">

    <div class = "container">
        <p class = "navbar-text pull-left">&copy;2014 instaCal</p>

        <p class = "navbar-text pull-right"><a href = "contactus"> | Contact </a></p>
        <p class = "navbar-text pull-right"><a href = "about"> About |</a></p>



    </div>

</div>

</body

</html>